%header
  %h1 Snippets
  %p
    Bits of Ruby that are used for a Rails Generator.

/ Nav tabs
.pull-right
  = link_to 'New Snippet', new_snippet_path, class: "btn btn-primary btn-sm"

%ul.nav.nav-tabs
  %li.active
    %a{"aria-controls" => "all", "data-toggle" => "tab", :href => "#all", :role => "tab"} View All
  %li
    %a{"aria-controls" => "personal", "data-toggle" => "tab", :href => "#personal", :role => "tab"} My Snippets

/ Tab panes
.tab-content
  #all.tab-pane.active{:role => "tabpanel"}
    = render "table", snippets: @public_snippets, nil_notice: "There are currently no Public Snippets"

  #personal.tab-pane{:role => "tabpanel"}
    = render "table", snippets: @personal_snippets, nil_notice: "You haven't created any Snippets"

  %tfoot
    %tr
      %td{ colspan: 3 }
