%h1 Snippets

%br

%table.table
  %tbody
    - @snippets.each do |snippet|
      %tr
        %td
          %ul.list-inline
            %li
              %strong
                = link_to snippet.name, snippet
            - snippet.tags.split(",").each do |tag|
              %li.pull-right
                = link_to tag, url_for(tag: tag), class: "small"
          = snippet.description

%br

.text-center
  = link_to 'New Snippet', new_snippet_path, class: "btn btn-primary"
