%header
  .container
    %h1
      Snippets
    %p.text-muted
      Code Snippets can be used as part of an App Template or independently for existing Rails projects.

.container
  / Nav tabs
  .pull-right
    = link_to 'New Snippet', new_snippet_path, class: "btn btn-primary btn-sm"

  %ul.nav.nav-tabs
    - if current_user
      %li.active
        %a{"aria-controls" => "personal", "data-toggle" => "tab", :href => "#personal", :role => "tab"} My Snippets
    %li
      %a{"aria-controls" => "all", "data-toggle" => "tab", :href => "#all", :role => "tab"} Public Snippets

  / Tab panes
  .tab-content.content-wrapper
    - if current_user
      #personal.tab-pane.active{:role => "tabpanel"}
        = render "table", snippets: @personal_snippets, nil_notice: "You haven't created any Snippets", anchor: "personal"

    #all.tab-pane{:role => "tabpanel"}
      = render "table", snippets: @public_snippets, nil_notice: "There are currently no Public Snippets", anchor: "all"

    %tfoot
      %tr
        %td{ colspan: 3 }
