%header.pad-section
  .row
    .col-sm-6
      %h1.text-center-xs
        Build a generator
        %br
        to automate Rails setup

      %br

      %p.lead.text-center-xs
        %span.small
          1.
        Select your configurations.
        %br
        %span.small
          2.
        Run the command line script.
        %br
        %span.small
          3.
        Get to work.

    .col-sm-6
      .gif-wrapper
        = image_tag "screenshare.gif"
  
  %br

  .row
    .col-sm-8
      %p.text-lg
        Save time and avoid headaches by getting your Rails app of the ground by using our generators, or creating your own.
    .col-sm-4.text-right
      = link_to "Get Started", "#get_started", class: "btn btn-primary btn-lg btn-block-xs"

%hr

%section#get_started.pad-section
  .container-md
    .form-wrapper
      = render "generators/form_micro"