%header.pad-section
  %h1.text-center
    Custom generator for your next Rails project
  %p.lead.text-center
    Select your configuration. Run script from the command line.
  
.container-md
  .form-wrapper
    = render "generators/form_micro"