%header.pad-section
  %h1.text-center
    Build a custom generator
    %br
    to expedite your next Rails project
  %p.lead.text-center
    Select your configurations.
    %br
    Run the command line script.
    %br
    Get to work.
  
.container-md
  .form-wrapper
    = render "generators/form_micro"