%header
  .container
    .text-center
      = image_tag @user.photo_url(500), class: "circle profile-avatar"
      %br
      %br

    %ul.nav.nav-tabs
      %li.active
        %a{"aria-controls" => "templates", "data-toggle" => "tab", :href => "#templates", :role => "tab"}
          Templates
      %li
        %a{"aria-controls" => "snippets", "data-toggle" => "tab", :href => "#snippets", :role => "tab"}
          Snippets

    .tab-content.content-wrapper
      #templates.tab-pane.fade.in.active{:role => "tabpanel"}
        = render "generators/table", generators: @generators
      #snippets.tab-pane.fade.in{:role => "tabpanel"}
        = render "snippets/table", snippets: @snippets