= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .form-inputs
  <%- attributes.each do |attribute| -%>
    .form-group
      = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: { class: "form-control" }
  <%- end -%>

  .form-actions
    = f.button :submit, class: "btn btn-primary"