@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, input, button, select, textarea, optgroup, option, form, fieldset, table, i, b, p, a, li, tr, td, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

label {
  font-family: monospace,monospace;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  color: #999;
  font-size: 14px;
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  &.underline::after {
    content: " ";
    border-bottom: 2px solid #000;
    width: 100px;
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

pre {
  border: 0px !important;
  border-radius: 0px !important;
}

body.background-gray-light {
  background-color: whitesmoke;
}

body.background-primary-light {
  background-color: rgb(224, 241, 255);
}

abbr[title], abbr[data-original-title] {
  float: right;
  margin-left: 3px;
}

.checkbox {
  margin-left: 0px;
}

.tab-content {
  padding-top: 10px;
}

.navbar-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dropdown-menu {
  padding: 0px;
  .divider {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  & > li > a {
    padding: 10px 20px;
  }
}

.footer {
  padding: 40px 10px;
}

.form-group {
  position: relative;
}

.CodeMirror,
.form-control {
  font-family: monospace,monospace;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.text-editor {
  font-family: monospace,monospace;
}

.form-group .CodeMirror-sizer {
  border-right: none;
}

.CodeMirror-scroll {
  max-width: 100%;
}

.privacy-option {
  float: right;
  position: absolute;
  right: 0px;
  padding-right: 20px;
  top: 21px;
  .checkbox {
    margin-left: 20px;
  }
}

.navbar {
  margin-bottom: 10px;
  border: 0px;
}

.display_none {
  display: none;
}

.no_padding_or_margin {
  padding: 0px;
  margin: 0px;
}

.list-inline {
  margin-bottom: 0px;
  margin-top: 0px;
}

.form-wrapper {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  h1 {
    margin-top: 0px;
    text-align: center;
  }
}

.pad {
  padding: 20px 20px;
}

.pad-sm {
  padding: 10px 10px;
}

.pad-lg {
  padding: 30px 20px;
}

.pad-2x {
  padding: 40px 20px;
}

.pad-4x {
  padding: 60px 20px;
}

.pad-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-y-2x {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad-y-3x {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pad-y-4x {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pad-section {
  padding: 60px 10px;
}

.background-white {
  background-color: white;
}

.container {
  max-width: 800px;
}

.container-xs {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.container-md {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.container-2x {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.img-sm {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
  padding: 8px 0px;
}

.generator_snippets {
  .checkbox {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    input[type=checkbox] {
      position: absolute;
      top: 32%;
    }
    label {
      position: relative;
      min-height: 20px;
      line-height: 16px;
      padding-left: 20px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
      width: 100%;
      display: block;
    }
  }
  .checkbox:last-child {
    border-bottom: 0px;
  }
}
