%footer#footer.footer
  .superfooter
    .container

  .subfooter
    .container
      .row
        .col-sm-6
          %ul.list-inline
            %li
              = link_to "View on Product Hunt", "https://www.producthunt.com/tech/product-hunt-analytics", class: "text-white", target: "_blank"
            %li • 
            %li
              = link_to "Send Feedback", "https://twitter.com/MorganJLopes", class: "text-white", target: "_blank"
        .col-sm-6.text-right
          %ul.list-unstyled
            %li
              Made with
              .fa.fa-heart.text-danger
              in Atlanta